<?xml version="1.0" encoding="UTF-8"?>
<!-- This config is for IntelliJ and JUnit tests to look at -->
<Configuration status="INFO">
    <Appenders>
        <Console name="OUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DATE} [%p] %X{AWSRequestId} (%t) %C:%L: %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="OUT"/>
        </Root>
        <Logger name="org.apache.accumulo.s3" level="DEBUG"/>
        <Logger name="org.apache.hadoop.util.NativeCodeLoader" level="ERROR"/>
    </Loggers>
</Configuration>
